<!DOCTYPE html>
<html lang="sp">
<title>Aguacatech-Oportunidades de becas en Paraguay</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-blue w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-purple" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="" class="w3-bar-item w3-button w3-padding-large w3-white">Inicio</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Sobre Aguacatech</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Categorias</a>
    <a href="noticias/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Noticias</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">FAQ</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Sobre Aguacatech</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Categorias</a>
    <a href="noticias/" class="w3-bar-item w3-button w3-padding-large">Noticias</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">FAQ</a>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container">
<img src="imagenes/fondo1.png" alt="fondo" style="width:100%">
  <h1 class="w3-display-middle w3-wide w3-text-white w3-jumbo" style="text-shadow:1px 1px 0 #444">AGUACATECH</h1><br>
  <button class="w3-display-bottommiddle w3-button w3-black w3-padding-large w3-large w3-margin-top">Explora</button>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>No se que poner aqui</h1>
      <h5 class="w3-padding-32"> 
        
          <a href="grado/"> Ver aqui las Becas de Grado</a> <br>
          <a href="postgrado/"> Ver aqui las Becas de Postgrado</a> <br>
          <a href="doctorado/"> Ver aqui las Becas de Doctorado</a> <br>

      </h5>

      <p class="w3-text-grey">O simplemente podriamos incluir una seccion con una brebe descripcion del sitio. Tal vez testimonios o external links.</p>
    </div>

    <div class="w3-third w3-center">
      <img src="imagenes/image1.jpg" alt="study abroad" class=w3-hover-grayscale style="width:300px;height:300px;">
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <img src="imagenes/image2.png" alt="study abroad 2" class=w3-hover-grayscale style="width:300px;height:300px;">
    </div>

    <div class="w3-twothird">
      <h1>Tampoco se que poner aqui</h1>
      <h5 class="w3-padding-32">Me parece bueno que tenga estas dos secciones en la pagina de inicio</h5>

      <p class="w3-text-grey">bla bla blabla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla v bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Aqui podria ir un mensaje motivacional, no se</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>