<!DOCTYPE html>
<html lang="es-ES">
<title>Aguacatech-Oportunidades de becas en Paraguay</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/estilos.css">
<link rel="stylesheet" type="text/css" href="/static/css/imgcont.css">

<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-purple w3-card w3-left-align w3-large w3-card-4 w3-opacity">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-white" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">Inicio</a>
    <a href="/noticias/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-pink">Noticias</a>
    <a href="/contacto/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-pink">Contacto</a>
    <a href="/sobre/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-pink">Sobre Nosotros</a>
    <a href="/faq/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-pink">FAQ</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/noticias/" class="w3-bar-item w3-button w3-padding-large">Noticias</a>
    <a href="/contacto/" class="w3-bar-item w3-button w3-padding-large">Contacto</a>
    <a href="/sobre/" class="w3-bar-item w3-button w3-padding-large">Sobre Nosotros</a>
    <a href="/faq/" class="w3-bar-item w3-button w3-padding-large">FAQ</a>
  </div>
</div>

<!-- Header -->
<header>
</head>
<body>
<br>
<br>
<br>
<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 3</div>
  <img src="/static/imagenes/fondo1.png" alt="study abroad 2" style="width:100%">
  <div class="centered" style="font-size:10vw;  color:white;text-shadow: 3px 2px black;">AGUACATECH<br><h2>Study Abroad</h2></div>
<div class="text-block w3-purple w3-opacity">
    <h4 style="color:white;text-shadow: 3px 2px black;">Mision</h4>
    <p style="color:white;text-shadow: 3px 2px black;">Informar, orientar y asesorar.</p>
  </div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 3</div>
  <img src="/static/imagenes/fondo2.png" alt="study abroad 3" style="width:100%">
  <div class="centered" style="font-size:10vw; color:white;text-shadow: 3px 2px black;">AGUACATECH<br><h2>Study Abroad</h2></div>
<div class="text-block w3-purple w3-opacity">
    <h4 style="color:white;text-shadow: 3px 2px black;">Vision</h4>
    <p style="color:white;text-shadow: 3px 2px black;">Trascender las fronteras de la educación!</p>
  </div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="/static/imagenes/fondo3.jpg" alt="study abroad 4" style="width:100%">
  <div class="centered" style="font-size:10vw; color:white;text-shadow: 3px 2px black;">AGUACATECH<br><h2>Study Abroad</h2></div>
<div class="text-block w3-purple w3-opacity">
    <h4 style="color:white;text-shadow: 3px 2px black;">Animate!</h4>
    <p style="color:white;text-shadow: 3px 2px black;">Hay una oportunidad para vos</p>
  </div>
</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>

<script>
var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 4000); // Change image every 4 seconds
}
</script>
</header>

<!-- First Grid -->
     <br><br> <h1>CATEGORIAS</h1>
<div class="row">
<div class="container">
  <img src="/static/imagenes/fondo4.jpg" alt="study abroad 2" style="width:30vw">
<a class="btn w3-purple" href="grado/">Becas de Grado</a>
</div>

<div class="container">
  <img src="/static/imagenes/fondo6.jpg" alt="study abroad 2" style="width:30vw">
<a class="btn w3-purple" href="maestria/">Becas de Maestria</a>
</div>

<div class="container">
  <img src="/static/imagenes/fondo5.jpg" alt="study abroad 2" style="width:30vw">
<a class="btn w3-purple" href="doctorado/">Becas de Doctorado</a>
</div>

<div class="container">
  <img src="/static/imagenes/fondo7.jpg" alt="study abroad 2" style="width:30vw">
<a class="btn w3-purple" href="idiomas/">Becas de Idiomas</a>
</div>
</div>




  </div>
</div>
</div>


<!-- Second Grid -->
<br><br> <h1>TESTIMONIOS</h1>	
<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-ad44d9bb-822d-47c6-be21-4238694229d4"></div>
<p> </p>


<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-purple w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>