<!DOCTYPE html>
<html lang="es-ES">
<title>Aguacatech-Noticias</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/estilos.css">

<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-purple w3-card w3-left-align w3-large w3-card-4 w3-opacity">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-white" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">Inicio</a>
    <a href="/noticias/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-pink">Noticias</a>
    <a href="/contacto/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-pink">Contacto</a>
    <a href="/sobre_nosotros/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-pink">Sobre Nosotros</a>
    <a href="/faq/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-pink">FAQ</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/noticias/" class="w3-bar-item w3-button w3-padding-large">Noticias</a>
    <a href="/contacto/" class="w3-bar-item w3-button w3-padding-large">Contacto</a>
    <a href="/sobre_nosotros/" class="w3-bar-item w3-button w3-padding-large">Sobre Nosotros</a>
    <a href="/faq/" class="w3-bar-item w3-button w3-padding-large">FAQ</a>
  </div>
</div>
<!-- Header -->
<header>
</head>
<body>

<div class="container">
<section id="banner">
<img src="/static/imagenes/fondo13.jpg" alt="study abroad 2" style="width:100%;">
  <div class="centered" style="font-size:10vw;  color:white;text-shadow: 3px 2px black;">Noticias</div>
</div>
        </section>
</header>

<!-- First Grid -->
<div class="w3-container">
<h1 style="text-align:center; font-family:'Times New Roman', Times, serif">BECAL Y FULBRIGHT LANZAN BECAS A ESTADOS UNIDOS</h1><br>
<div class="w3-container w3-center">
  <img src="/static/imagenes/fondo9.jpg" alt="study abroad 2" style="width:50%"><br>
    <h6>Mario Romero de BECAL y Silvia Terol de la Asociación Fulbright dando detalles de ambas convocatorias</h6>
</div>
<div class="w3-container">
<p>El Programa Nacional de Becas de Postgrado en el Exterior “Don Carlos Antonio López” (BECAL) y la Embajada de Estados Unidos en Paraguay realizaron este lunes 4 de febrero a las 19:00 horas en el Centro Cultural Paraguayo Americano (CCPA) el lanzamiento de las becas Fulbright y Fulbright-CAL.
    La presentación de los detalles de ambas convocatorias estuvieron a cargo de Mario Romero, Coordinador de Planificación Estratégica y Relaciones Internacionales de BECAL y Silvia Terol de la Asociación Fulbright. Fulbright lanza cada año cinco becas del gobierno norteamericano y a su vez, BECAL lanza 10 becas Fulbright-CAL que en esta edición son para realizar: cuatro (4) maestrías en las áreas de ciencias, tecnología e innovación; cuatro (4) doctorados en ciencias, tecnología e innovación; y dos (2) maestrías
    en educación y/o gestión educativa para estudiar en las mejores universidades de los Estados Unidos. Las becas son posibles gracias a un Memorándum de Entendimiento entre los gobiernos de Estados Unidos y Paraguay firmado en el 2016. La convocatoria está abierta desde hoy hasta el 31 de mayo de 2019.
    <br><h2></h2>Los requisitos generales para acceder a las becas tanto Fulbright como las Fulbright-CAL son:</h2>
    <br>- Haber completado su educación universitaria y obtenido un grado equivalente a una licenciatura.
    <br>– Ser paraguayo, residente en Paraguay al momento de la solicitud. Se dará prioridad a los candidatos que no hayan tenido experiencia previa en los Estados Unidos.
    <br>– Demostrar la excelencia académica, el potencial de liderazgo, y la capacidad de compartir ideas y experiencias.
    <br>– Demostrar proficiencia en el Idioma Inglés. Se tomarán exámenes de proficiencia en el Centro Cultural Paraguayo Americano.
    <br>Consultar fechas a EducationParaguay@state.gov
    <br>No son elegibles para este programa: profesionales graduados en los EE.UU. (carreras de grado o postgrado); profesionales Médicos, Psicólogos, Veterinarios interesados en realizar maestrías con práctica clínica, y ex becarios del Programa Fulbright, de cuya graduación no hayan pasado 5 años.
    <br>Leer el documento Guía de Postulación al Programa en: <a href="http://www.becal.gov.py/guia-de-postulacion/">http://www.becal.gov.py/guia-de-postulacion/</a>
    <br><a href="https://py.usembassy.gov/es/education-culture-es/exchange-programs-es/">https://py.usembassy.gov/es/education-culture-es/exchange-programs-es/</a>
    <br>Descripción de la convocatoria: <a href="http://www.becal.gov.py/convocatoria-fullbright-cal/">http://www.becal.gov.py/convocatoria-fullbright-cal/</a>
</p>
  </div>
<br><br>
<h1 style="text-align:center; font-family:'Times New Roman', Times, serif">BECAL LANZA NUEVA CONVOCATORIA PARA EL SECTOR EDUCATIVO OFICIAL</h1><br>
<div class="w3-container w3-center">
  <img src="/static/imagenes/fondo10.jpg" alt="becal" style="width:50%"><br>
</div>
<div class="w3-container">
<p>
    CHILE 03. A partir de la fecha está disponible en la página web del Programa la Guía de Bases y Condiciones de la Convocatoria CHILE 03 de “Especialización en Gestión e Innovación Directiva”. La misma estará abierta hasta el 10 de mayo del 2019.
    Se trata de 50 plazas que están dirigidas a Directores y vicedirectores de Instituciones educativas de gestión oficial de todos los niveles (EEB, EM, IFD, CRE, ITS); Supervisores pedagógicos; Coordinadores pedagógicos de instituciones educativas de gestión oficial de todos los niveles; Técnicos de la Administración Central de las Direcciones Misionales (EBB, EM, Currículum, Educación Inclusiva, Permanente e Indígena).
    Las clases iniciarán el 10 de julio del corriente año y los módulos que se desarrollaran son: Conociendo la Gestión Pedagógica Curricular, Diplomado en Especialización en Gestión e Innovación Educativa, Talleres de Gestión de la Innovación en Escuelas de hoy, y Construyendo mi visión de liderazgo para la Gestión Pedagógica Curricular.
    La postulación en línea a través del SPI estará vigente a partir de la semana entrante.
    <br> guía de bases y condiciones está disponible en: <a href="http://www.becal.gov.py/chile-03-guia-de-bases-y-condiciones/">
       http://www.becal.gov.py/chile-03-guia-de-bases-y-condiciones/</a>
</p>
<br><br>
<h1 style="text-align:center; font-family:'Times New Roman', Times, serif;">BECAL con nueva oficina</h1><br>
<div class="w3-container w3-center">
  <img src="/static/imagenes/fondo11.jpg" alt="becal" style="width:50%"><br>
</div>
<div class="w3-container">
<p>
El programa BECAL anuncia que cuenta con NUEVAS OFICINAS en Estrella 345 c/ Chile – Edificio Citicentro PRIMER PISO – Teléfono 021 440 007
</p>
<br><br>
<h1 style="text-align:center; font-family:'Times New Roman', Times, serif">Talentoso becario se abre paso en el exterior</h1><br>
<h2 style="text-align:center; font-family:'Times New Roman', Times, serif">
Talentoso paraguayo se abre paso en el exterior</h2>
<div class="w3-container w3-center">
  <img src="/static/imagenes/fondo12.jpg" alt="becal" style="width:30%"><br>
</div>
<div class="w3-container">
<p>
    Matias Damian Benítez, estudió Economía en la Universidad Nacional de Asunción. En 2017 fue adjudicado con una beca de BECAL para realizar una Maestría en Ciencias de la Economía y Computación en la Universidad de Duke, Estados Unidos.
    A un mes de completar sus estudios, la Universidad de Duke ya le ha ofrecido una beca completa por cinco años para realizar un Doctorado en Inteligencia Artificial.
    <br>Matías es uno de nuestros becarios, que con su talento, está abriendo las puertas de las mejores universidades del mundo, a más compatriotas.
    <br>Congratulaciones, Matías!
    
</p>
  </div>
</div>






<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-purple">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>